@font-face {
    font-family: 'Reformag';
    src: url(../fonts/Reformagroteskmediumc.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Reformag';
}

body{
    background-color: #141414; 
}

h1{
    color: #DB3138;
    font-weight: 700;
    font-size: 150px;
    text-transform: uppercase;
    text-align: center;
}

a{
    color: #fff;
    text-decoration: none;
}

header{
    width: 100%;
    height: 1000px;
    background: url("../img/Rectangle.png");
}

.navbar{
    width: 521px;
    margin: 40px 0px 0px 312px;
    display: inline-flex;
}

.navbar .menu{
    width: 521px;
    display: flex;
    gap: 40px;
    list-style-type: none;
}
.subheader, .rectangles, .description{
    margin: 0px auto;
}

.subheader{
    width: 438px;
    height: 188px;
    margin-top: 168px;
}

.rectangles{
    margin-top: 5px;
    margin-bottom: 41px;
    width: 146px;
    height: 14px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.rectangles_block{
    width: 10px;
    height: 10px;
    background-color: #DB3138;
    transform: rotate(45deg);
}

.description{
    margin-bottom: 40px;
    width: 437px;
    max-height: 96px;
    color: #fff;
}

.description .description_text{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
}

.block_button{
    margin: 0 auto; 
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    width: 130px;
}

.block_button:before {
    content:'';
	position: absolute;
    left: 46.5%;
	width: 0;
	height: 61px;
	background: rgba(219,49,56,0.8);
	transition: all 2s ease;
}

.block_button .block_button-link{
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
}

.block_button:hover:before{
    width: 130px;
}

.header_bottom{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 107px;
    display: flex;
    height: 214px;
    justify-content: space-between;
}

.header_bottom-div:first-child, .header_bottom-div:last-child{
    border: none;
}

.header_bottom-div{
    padding-top: 50px;
    width: 640px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.header_bottom-subheader{
    color: var(--white, #FFF);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 25.2px;
    letter-spacing: 2px;
}

.div-info{
    margin-top: 20px;
}

.div-info p > a, .div-info p{
    color: var(--accent, #DB3138);
}

.div-info p{
    text-align: center;
    font-weight: 600;
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.location{
    height: 68px;
    width: 265px;
}

/* we win */

/* slider */
.slider{
    width: 100%;
    height: 420px;
}

.slider .container{
    padding: 0px 181px;
}

.slider .slider_block{
    height: 100%;
    display: flex;
}